body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  overflow:hidden;
}
#u7951_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:url('../../images/框架模板24_绿色系_/u7894_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
}
#u7951_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1841px;
  height:76px;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:0px;
  width:1841px;
  height:76px;
}
#u7953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:8px;
  width:481px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:481px;
  word-wrap:break-word;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:52px;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:431px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:52px;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:431px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:749px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:52px;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:749px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:113px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:52px;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:113px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:434px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:52px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:434px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:752px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:52px;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:752px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
