body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  overflow:hidden;
}
#u7356_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/入口界面07/u6926_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
}
#u7356_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:137px;
}
#u7358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:137px;
}
#u7358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7359 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:12px;
  width:481px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:481px;
  word-wrap:break-word;
}
#u7360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.4);
}
#u7360 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:64px;
  width:538px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.4);
}
#u7360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:538px;
  word-wrap:break-word;
}
#u7361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:956px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7362 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:500px;
  height:956px;
  color:#FFFFFF;
}
#u7362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7363_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7363 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7364_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7364 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:457px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7365_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7365 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:760px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:956px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7367 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:90px;
  width:500px;
  height:956px;
  color:#FFFFFF;
}
#u7367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7368_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7368 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:90px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7369_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7369 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:437px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7370_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7370 {
  border-width:0px;
  position:absolute;
  left:1390px;
  top:740px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
