body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  overflow:hidden;
}
#u7739_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(51, 51, 51, 1);
  background-image:url('../../images/tem026/u1712_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:1920px 1080px;
}
#u7739_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7743_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:566px;
  height:17px;
}
#u7743 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:37px;
  width:563px;
  height:14px;
  color:#FFFFFF;
}
#u7743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7744_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:566px;
  height:17px;
}
#u7744 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:27px;
  width:563px;
  height:14px;
  color:#FFFFFF;
}
#u7744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7745_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:566px;
  height:18px;
}
#u7745 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:16px;
  width:563px;
  height:15px;
  color:#FFFFFF;
}
#u7745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7746_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:566px;
  height:17px;
}
#u7746 {
  border-width:0px;
  position:absolute;
  left:1259px;
  top:6px;
  width:563px;
  height:14px;
  color:#FFFFFF;
}
#u7746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7748_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:567px;
  height:17px;
}
#u7748 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:37px;
  width:564px;
  height:14px;
  color:#FFFFFF;
}
#u7748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7749_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:567px;
  height:17px;
}
#u7749 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:27px;
  width:564px;
  height:14px;
  color:#FFFFFF;
}
#u7749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7750_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:567px;
  height:18px;
}
#u7750 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:16px;
  width:564px;
  height:15px;
  color:#FFFFFF;
}
#u7750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7751_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:567px;
  height:17px;
}
#u7751 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:6px;
  width:564px;
  height:14px;
  color:#FFFFFF;
}
#u7751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7752_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1923px;
  height:30px;
}
#u7752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1920px;
  height:27px;
  color:#FFFFFF;
}
#u7752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7753_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:424px;
  height:6px;
}
#u7753 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:88px;
  width:421px;
  height:3px;
  color:#FFFFFF;
}
#u7753_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:91px;
}
#u7754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:91px;
  opacity:0.5;
  color:#FFFFFF;
}
#u7754_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:481px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u7755_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:481px;
  word-wrap:break-word;
}
#u7756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.4);
}
#u7756 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:52px;
  width:481px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.4);
}
#u7756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:481px;
  word-wrap:break-word;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7759 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:19px;
  width:48px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u7760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7760 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:19px;
  width:24px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7760_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u7761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7761 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:19px;
  width:24px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u7762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7762 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:19px;
  width:17px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7762_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u7763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7763 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:19px;
  width:17px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.8);
}
#u7763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:17px;
  word-wrap:break-word;
}
#u7764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7765 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:19px;
  width:32px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u7766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7766 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:19px;
  width:32px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:28px;
  word-wrap:break-word;
}
#u7767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:19px;
  width:31px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u7768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:19px;
  width:14px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  word-wrap:break-word;
}
#u7769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7769 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:19px;
  width:14px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  word-wrap:break-word;
}
#u7770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u7770 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:21px;
  width:26px;
  height:26px;
}
#u7770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u7772 {
  border-width:0px;
  position:absolute;
  left:1737px;
  top:17px;
  width:151px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u7772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:151px;
  word-wrap:break-word;
}
#u7773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u7773 {
  border-width:0px;
  position:absolute;
  left:1703px;
  top:17px;
  width:28px;
  height:28px;
}
#u7773_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7775 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7776_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7776 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:110px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7778 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:431px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7779_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7779 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:431px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7781 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:749px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7782_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7782 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:749px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7784 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:113px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7785_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7785 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:113px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7787 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:434px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7788_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7788 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:434px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
#u7789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:300px;
}
#u7790 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:752px;
  width:500px;
  height:300px;
  color:#FFFFFF;
}
#u7790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7791_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:503px;
  height:54px;
}
#u7791 {
  border-width:0px;
  position:absolute;
  left:1388px;
  top:752px;
  width:500px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:500px;
  word-wrap:break-word;
}
