body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  overflow:hidden;
}
#u6618_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/入口界面01/u6618_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:contain;
}
#u6618_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:132px;
}
#u6620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:132px;
}
#u6620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:28px;
}
#u6621 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:11px;
  width:538px;
  height:89px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:28px;
}
#u6621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:538px;
  word-wrap:break-word;
}
#u6622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:800px;
}
#u6622 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:80px;
  width:1000px;
  height:800px;
  opacity:0.1;
}
#u6622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6624 {
  position:absolute;
  left:184px;
  top:244px;
}
#u6624_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1551px;
  height:480px;
  background-image:none;
}
#u6624_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6626_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6626_img.mouseOver {
}
#u6626.mouseOver {
}
#u6626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6628 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:81px;
  width:180px;
  height:180px;
}
#u6628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6629 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6629_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6629.mouseOver {
}
#u6629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6631_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6631 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6631_img.mouseOver {
}
#u6631.mouseOver {
}
#u6631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6632 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6633 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6633_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6633.mouseOver {
}
#u6633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6634 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:81px;
  width:180px;
  height:180px;
}
#u6634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6636_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6636 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6636_img.mouseOver {
}
#u6636.mouseOver {
}
#u6636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6637 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6638 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6638_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6638.mouseOver {
}
#u6638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6639 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:81px;
  width:180px;
  height:180px;
}
#u6639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6641_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6641 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6641_img.mouseOver {
}
#u6641.mouseOver {
}
#u6641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6642 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6643 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6643_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6643.mouseOver {
}
#u6643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6644 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:81px;
  width:180px;
  height:180px;
}
#u6644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6624_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1551px;
  height:480px;
  visibility:hidden;
  background-image:none;
}
#u6624_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6646_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6646_img.mouseOver {
}
#u6646.mouseOver {
}
#u6646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6648 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:81px;
  width:180px;
  height:180px;
}
#u6648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6649 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6649_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6649.mouseOver {
}
#u6649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6651_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6651 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6651_img.mouseOver {
}
#u6651.mouseOver {
}
#u6651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6652 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6653 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6653_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6653.mouseOver {
}
#u6653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6654 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:81px;
  width:180px;
  height:180px;
}
#u6654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6656_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6656 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6656_img.mouseOver {
}
#u6656.mouseOver {
}
#u6656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6657 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6658 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6658_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6658.mouseOver {
}
#u6658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6659 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:81px;
  width:180px;
  height:180px;
}
#u6659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6661_img {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-11px;
  width:372px;
  height:502px;
}
#u6661 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:0px;
  width:350px;
  height:480px;
  line-height:36px;
}
#u6661_img.mouseOver {
}
#u6661.mouseOver {
}
#u6661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6662 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:283px;
  width:350px;
  height:78px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  line-height:32px;
}
#u6662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:7px;
  width:350px;
  word-wrap:break-word;
}
#u6663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6663 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:371px;
  width:140px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6663_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#66F2FF;
}
#u6663.mouseOver {
}
#u6663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:140px;
  word-wrap:break-word;
}
#u6664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u6664 {
  border-width:0px;
  position:absolute;
  left:1286px;
  top:81px;
  width:180px;
  height:180px;
}
#u6664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66F2FF;
  line-height:36px;
}
#u6665 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:444px;
  width:50px;
  height:80px;
  opacity:0.769;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66F2FF;
  line-height:36px;
}
#u6665_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66F2FF;
  line-height:36px;
}
#u6665.mouseOver {
}
#u6665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:50px;
  word-wrap:break-word;
}
#u6666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66F2FF;
  line-height:36px;
}
#u6666 {
  border-width:0px;
  position:absolute;
  left:1794px;
  top:444px;
  width:50px;
  height:80px;
  opacity:0.769;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66F2FF;
  line-height:36px;
}
#u6666_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:80px;
  background:inherit;
  background-color:rgba(102, 242, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(102, 242, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#66F2FF;
  line-height:36px;
}
#u6666.mouseOver {
}
#u6666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:50px;
  word-wrap:break-word;
}
#u6667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6669 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:852px;
  width:80px;
  height:80px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:36px;
}
#u6669_img.mouseOver {
}
#u6669.mouseOver {
}
#u6669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u6670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6670 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:932px;
  width:134px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u6671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6672 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:852px;
  width:80px;
  height:80px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:36px;
}
#u6672_img.mouseOver {
}
#u6672.mouseOver {
}
#u6672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u6673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6673 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:932px;
  width:134px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u6674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6675 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:852px;
  width:80px;
  height:80px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:36px;
}
#u6675_img.mouseOver {
}
#u6675.mouseOver {
}
#u6675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u6676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6676 {
  border-width:0px;
  position:absolute;
  left:893px;
  top:932px;
  width:134px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u6677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6678 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:852px;
  width:80px;
  height:80px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:36px;
}
#u6678_img.mouseOver {
}
#u6678.mouseOver {
}
#u6678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u6679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6679 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:932px;
  width:134px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u6680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6681 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:852px;
  width:80px;
  height:80px;
  font-family:'Font Awesome 5 Pro Solid', 'Font Awesome 5 Pro Regular', 'Font Awesome 5 Pro';
  font-weight:900;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:36px;
}
#u6681_img.mouseOver {
}
#u6681.mouseOver {
}
#u6681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:22px;
  width:80px;
  word-wrap:break-word;
}
#u6682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6682 {
  border-width:0px;
  position:absolute;
  left:1181px;
  top:932px;
  width:134px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(255, 255, 255, 0.8);
  line-height:28px;
}
#u6682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
